################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1/obj
/WebApplication1/packages

*.config